################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/__pycache__
/__pycache__
/webvtt_loc.pyproj
